{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    <form method="post">
    {% csrf_token %}
    <input type="hidden" name='next' value='{{ next }}'/>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button>Сменить пароль</button>
</form>
{% endblock content %}
