{% extends 'flatpages/default.html' %}
{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.photo %}
    <p><img src="{{ user.photo.url }}"></p>
    {% else %}
    <p><img src="/media/users/photo_default.jpg"></p>
    {% endif %}
    {% if author_prov %}
    <h1>Вы являетесь Автором!!!</h1>
    {% else %}
    <a href="{% url 'users:statauthor' %}">Стать Автором!!!</a>
    {% endif %}

    <input type="hidden" name='next' value="{{ next }}"/>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button>Сохранить изменения</button>
</form>
<a href="{% url 'account_change_password' %}">Сменить пароль?</a>
{% endblock %}